{% extends 'base.html' %}

{% block title %}

<title>Users List</title>

{% endblock title %}

{% block content %}

<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Add New User Information</h1>

<form action="{% url 'create_user' %}" method="post">

    {% csrf_token %}

    {{form.as_p}}

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
{% for message in messages %}
<div class="form-text text-center mt-3 text-danger"><strong>{{message}}</strong></div>
{% endfor %}

<div class="text-center">

    <a href="{% url 'read_user' %}"><button type="button" class="btn btn-primary">View Users</button></a>
    <a href="{% url 'dash' %}"><button type="button" class="btn btn-primary">Dashboard</button></a>

</div>

{% endblock content %}